<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr2</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Unifi Ticket System</h1>
  <ul>
      <li><a href="{{ url_for('tickets') }}">Tickets</a>
      <li><a href="{{ url_for('create_tickets') }}">Create tickets</a>

  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>